
*{margin:0;
padding:0
}
.container {
  padding: 16px;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(30 41 59);;
  color: white;
}

h1 {
  font-size: 24px;
}
